Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

List popular languages for Data Science:-
- List common languages of data science.
- Provide examples of arithmetic expressions.
- Review of data science tools.

Some of the popular languages that Data Scientists use are:
1.Python 
2.R 
3.SQL 
4.Julia 
5.Java

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.Numpy
3.Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Python IDE         |

### Below are a few examples of evaluating arithmetic expressions in Python.

 This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
hours = 200 / 60
hours

3.3333333333333335

## Author
Dhyaa Sbie